/*
AZUL 1: #0c2d59 claro
AZUL 2: #1b3b6f medio
naranja: #ffb657;
naranja hover: #ffb451
antiguo amarillo/verdoso: #e2f212
antiguo amarillo/verdoso hover: #d1e510;
*/
.body {
  /* align-items: center;
  justify-content: center;
  align-items: center; */
  /* min-height: 100vh;  */
  height: 100%;
  /* height: auto; */
  /* display: flex; */
  margin: 0;
  padding: 0;
  display: flex;
  /* flex-direction: column; */
  justify-content: center;
  align-items: center;
}
.ext-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 5px; 
  width: 100%;
  max-width: 1200px;
  box-sizing: border-box;
  min-height: 100vh; 
}
main {
  background-color: #16213e;
  color: #ffffff;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.5);
  width: 100%;
  max-width: 1200px;
  margin: 10px auto;
  display: flex;
  flex-direction: column; 
}

.modal-custom {
  /* display: flex; */
  flex-wrap: wrap;
  /* justify-content: center; */
  /* align-items: center; */
  /* align-content: center; */
  /* align-self: center; */
  position: absolute !important; /* Cambia a 'absolute' si es necesario */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #f3f3f3;
  width: fit-content;
  margin: 0px 10px;
  padding: 20px;
  border-radius: 6px;
  /* opacity: 85%; */
}
.logo {
  margin: 20px;
}
.mainContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: flex-start; */
  min-height: 50vh;
  /* min-height: 100vh; */
  /* height: auto; */
  font-size: 1.2rem;
  color: #ffffff;
  border-radius: 8px;
  padding: 20px;
  background-color: #1a1a2e;
}
/*  .mainContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  height: auto;
  font-size: 1.2rem;
  color: #ffffff;
  border-radius: 8px;
  padding: 20px;
  background-color: #1a1a2e;
  margin: 10px 10px;
} */
.mainContainer h1 {
  font-size: 1.6rem;
}

.textContainer {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 600px;
  margin: 20px 0;
  text-align: center;
}

.textContainer p {
  font-size: 1.2em;
  font-weight: bold;
}

.main {
  background-color: #16213e;
  color: #ffffff;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.5);
  width: 100%;
  max-width: 1200px;
  margin: 10px auto;
  display: flex;
  flex-direction: column; 
  justify-content: center;
}
  


.containerTitle {
  text-align: center;
  margin-bottom: 30px;
}

.containerTitle .title {
  font-size: 2.5em;
  /* margin-bottom: 10px; */
}

.containerTitle .logo {
  width: 150px;
  margin: auto 20px;
}

.containerCrear,
.containerData,
.containerRefunds,
.containerReleases,
.containerWithdraw {
  margin-top: 20px;
  padding: 20px;
  background-color: #1a1a2e;
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
}

.offersContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.logout-title-logo-container {
  display: flex;
  justify-content: space-between;
  /* justify-content: space-between; */
  align-items: center;
  margin-bottom: 10px;
}
.logout-title-logo-container p {
  font-size: 1.3em;
}
.title-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  margin-left: 50px; /*CUIDADO en responsive*/
}
.title.container .description {
  margin-top: 100px;
}

.title-logo-container {
  display: flex;
  /* justify-content: stretch; */
  justify-content: space-between;
  align-items: center;
  /* gap: 20px; */
}

.publish-offer-button {
  background-color: #fac682; /* Fondo de botón amarillo claro */
  color: #0c2d59; /* Texto en azul oscuro */
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  display: block;
  width: 50%;
  margin-top: 20px;
  text-transform: uppercase;
  transition: background-color 0.3s ease;
}

.publish-offer-button:hover {
  /* background-color: #ffb451; */
  background-color: #fdd197;
  scale: 1.03;
  /* Efecto hover para el botón */
}

.approveAddStable {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 20px;
}

.approveAddStable input {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ffffff;
  background-color: #16213e;
  color: #ffffff;
}

.approve_addStable button {
  background-color: #ca0372;
  color: #ffffff;
  padding: 10px;
  border-radius: 5px;
  border: 2px solid #ffffff;
  cursor: pointer;
  font-size: 1.2em;
  transition: background-color 0.3s ease;
}

.approve_addStable button:hover {
  background-color: #a0025b;
}

.description {
  font-size: 1.1em;
  /* margin-top: 20px; */
}
.balances-container {
  display: flex;
}
.show-balance {
  width: calc(
    50% - 20px
  ); /* Ajusta el ancho para que el input esté bien alineado con el formulario */
  padding: 2px;
  margin: auto;
  margin-bottom: 2px;
  margin-top: 25px;
  /* border: 1px solid #b3d335; Borde verde brillante */
  border-radius: 5px;
  background-color: #1b3b6f; /* Fondo azul oscuro para inputs */
  color: #ffffff; /* Texto en blanco */
  font-size: 1.4rem;
}

.containerEscrowOwner {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 20px;
}

.divRelease {
  margin-top: 10px;
}

.containerLastEscrow,
.containerCompletar {
  background-color: #1a1a2e;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
  margin-top: 20px;
}

.lastEscrowTitle,
.lastEscrowData {
  margin-bottom: 10px;
}

.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}
.app-offers-container {
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  background-color: #0c2d59;
  height: fit-content;
  margin: 5px;
  /* flex-wrap: wrap;
  justify-content: center;
  gap: 16px;
  background-color: #2d5fbf;
  border-radius: 8px; */
}
.app-offers-map {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 16px;
  background-color: #2d5fbf;
  border-radius: 8px;
}
.app-offers-eth,
.app-offers-token {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  gap: 16px;
  background-color: #2d5fbf;
  border-radius: 8px;
}

.app-offers-eth h2,
.app-offers-token h2 {
  font-size: 1.8rem;
  background-color: #0c2d59;
  border-radius: 8px;
  margin: 20px;
  margin-bottom: 5px;
  padding: 0px 10px;
  width: fit-content;
}
.app-offers-map,
.app-offers-map {
  display: flex;
  flex-direction: row;
  /* flex-wrap: wrap; */
  justify-content: center;
  gap: 16px;
  background-color: #2d5fbf;
  border-radius: 8px;
  padding: 1%;
}
.app-price-container {
  display: flex;
  justify-content: space-around;
}
.app-prices {
  background-color: #0c2d59;
  border-radius: 8px;
  padding: 10px;
  margin: 5px;
  width: 40%;
  font-size: 1.2rem;
  /* border: 1px solid #ffffff; */
}
.connect-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  margin-top: 10px;
  /* min-height: 50vh; */
  height: 100vh;
  height: auto;

  /*justify-content: center; */
}
.connect-container h1 {
  font-size: 1.5rem;
}

.connect-container button {
  background-color: #ffb657; /* Fondo de botón amarillo claro */
  color: #062247; /* Texto en azul oscuro */
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  display: block;
  width: 50%;
  margin-top: 20px;
  text-transform: uppercase;
  transition: background-color 0.3s ease;
}
